@import '../globals/declarations.scss';

.RequestsPopup{
  padding: 0;
  margin: 0;
  position: relative;


  .url-action{
    display: inline-block;
    margin: 10px 10px 0 10px;
    cursor: pointer;
  }

  .code-box-holder{
    width: calc(100% - 20px) !important;
    margin: 10px 10px 20px 10px !important;
  }

  .c-green{
    color: $green;
  }

  .c-red{
    color: $red;
  }

  .count{
    position: absolute;
    top:20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $dodgerblue;
    color: $white;
    font-size: 0.87rem;
    text-align: center;
    line-height: 40px;
  }

  .domain-url{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    white-space: nowrap;
    word-break: none;
    word-wrap: none;
    font-size: 0.87rem;
    color: rgb(19, 19, 19);
    line-height: 20px;
  }


  .ul-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 30px;
    line-height: 25px;
    text-align: left;
    margin:0;
    padding:0;

    li {
      box-sizing: border-box;
      padding: 3px 5px;
      text-align: left;
      display: flex;
      flex-direction: column;
      font-size: 0.923rem;
      background-color: rgba(255, 255, 255, .95);
      color: #72777a;
      line-height: 40px;
      margin-top: 10px;

      i{
        color: rgba(0, 0, 0, 0.77);
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        background-color: transparent;
        border:1px solid transparent;
        transition-duration: $default_transition;
        margin: 5px 10px;
      }

      i:hover{
        cursor: pointer;
        background-color: rgba(222,222,222,.5);
        border: 1px solid $border-color;
      }
    }

    li:first-child {
      width: 50px;
    }

    li:last-child {
      width: calc(100% - 70px);
    }
  }
}