@import '../globals/declarations.scss';

.AddonNotAvailable {
  position: fixed;
  top: 60px;
  left: calc(#{$popupMenuWidth} + 1px);
  width: calc(100% - #{$popupMenuWidth});
  text-align: center;
  line-height: 50px;
  height: 100vh;
  background-image: url('https://www.chat-manager.j.pl/public/images/bert-sz-rhNff6hB41s-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: rgba(0,0,0, .5);
  background-blend-mode: darken;

  img {
    max-height: 165px;
    display: block;
    margin: 40px auto;
  }

  h1{
    padding: 30px 0;
    color: $white;
  }

  .dashboard-link {
    width: 230px;
    margin: 30px auto;
    display: block;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    font-size: 0.87rem;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid $border-color;
    background-color: $dodgerblue;
    color: $white;
    box-shadow: 0px 0px 13px transparent;
    transition-duration: $default_transition;
    height: 40px;
    line-height: 40px;
  }

  .dashboard-link:hover {
    box-shadow: 0px 0px 13px $dodgerblue;
  }

}
